body{
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.title{
    
    font-size: 30px;
    font-weight: bold;
}
.results-wl{
    font-size: 25px;			
    font-weight: bold;
}
.scores-style{
    margin-top: 40px;
    font-weight: bold;
}
.moves-button{
    background-color: transparent ;
    border: 2px solid white;
    width: 120px;
    height: 120px;
    border-radius: 50%;		
    cursor: pointer;
    margin-right: 10px;
}
.moves-img{
    height: 50px;
}
.reset-score-button{
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}